.DS_Store
.idea/

node_modules/
dist/

qiyu-admin-pro/.umi/
qiyu-admin-pro/src/.umi/
qiyu-admin-pro/src/.umi-production/
qiyu-admin-pro/typings.d.ts

qiyu-client/miniprogram/miniprogram_npm/
qiyu-client/.cloudbase/

qiyu-server/target/
qiyu-server/.env.local
qiyu-server/.env
*.log
